version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: ecommerce-postgres
    environment:
      POSTGRES_DB: ecommerce_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - ecommerce-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ecommerce-app
    environment:
      STRIPE_SECRET_KEY: sk_test_51SH4kWGuojDZbJf4dReJSXro8820zmcAbj5neO07TcdX1lyqlj5NtCCKs2tyeFS2Inxa3W5lXM7tewKBxslJEIp000NGx4y3Lc
      POSTGRES_HOST: jdbc:postgresql://postgres:5432/ecommerce_db
      POSTGRES_USERNAME: postgres
      POSTGRES_PASSWORD: postgres
      JWT_SECRET: aHd3+Bb2oLpGVW889uDOSGOgWb2H+YtcDWRtfsiuMbE=
      JWT_EXPIRATION: 86400000
      ADMIN_EMAIL: admin@email.com
      ADMIN_PASSWORD: 123456
      ADMIN_NAME: First Admin
      ADMIN_CPF: "00000000000"
      ADMIN_PHONE: "(00) 00000-0000"
      SPRING_PROFILES_ACTIVE: docker
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - ecommerce-network

  pgweb:
    image: sosedoff/pgweb:latest
    container_name: ecommerce-pgweb
    environment:
      PGWEB_DATABASE_URL: postgres://postgres:postgres@postgres:5432/ecommerce_db?sslmode=disable
    ports:
      - "8081:8081"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - ecommerce-network

volumes:
  postgres_data:

networks:
  ecommerce-network:
    driver: bridge
